@model SolucionEmpresas.Models.EstadosFinancieros

@{ ViewBag.Title = "Detalle Estado Financiero"; }

<h2>Detalle Estado Financiero</h2>

<hr />

<dl class="dl-horizontal">
    <dt>Empresa</dt>
    <dd>
        @(Model.Empresas != null ? Model.Empresas.NombreEmpresa : Model.EmpresaId.ToString())
    </dd>

    <dt>@Html.DisplayNameFor(m => m.Periodo)</dt>
    <dd>@Html.DisplayFor(m => m.Periodo)</dd>

    <dt>@Html.DisplayNameFor(m => m.Fecha)</dt>
    <dd>@Html.DisplayFor(m => m.Fecha)</dd>

    <dt>@Html.DisplayNameFor(m => m.FechaCargue)</dt>
    <dd>@Html.DisplayFor(m => m.FechaCargue)</dd>

    <dt>@Html.DisplayNameFor(m => m.Activa)</dt>
    <dd>@(Model.Activa ? "Activo" : "Inactivo")</dd>

    <dt>@Html.DisplayNameFor(m => m.ActivoCorriente)</dt>
    <dd>@Html.DisplayFor(m => m.ActivoCorriente)</dd>

    <dt>@Html.DisplayNameFor(m => m.PasivoCorriente)</dt>
    <dd>@Html.DisplayFor(m => m.PasivoCorriente)</dd>

    <dt>@Html.DisplayNameFor(m => m.ActivoTotal)</dt>
    <dd>@Html.DisplayFor(m => m.ActivoTotal)</dd>

    <dt>@Html.DisplayNameFor(m => m.PasivoTotal)</dt>
    <dd>@Html.DisplayFor(m => m.PasivoTotal)</dd>

    <dt>@Html.DisplayNameFor(m => m.Patrimonio)</dt>
    <dd>@Html.DisplayFor(m => m.Patrimonio)</dd>

    <dt>@Html.DisplayNameFor(m => m.IngresosOperacionales)</dt>
    <dd>@Html.DisplayFor(m => m.IngresosOperacionales)</dd>

    <dt>@Html.DisplayNameFor(m => m.UtilidadBruta)</dt>
    <dd>@Html.DisplayFor(m => m.UtilidadBruta)</dd>

    <dt>@Html.DisplayNameFor(m => m.UtilidadOperativa)</dt>
    <dd>@Html.DisplayFor(m => m.UtilidadOperativa)</dd>

    <dt>@Html.DisplayNameFor(m => m.UtilidadNeta)</dt>
    <dd>@Html.DisplayFor(m => m.UtilidadNeta)</dd>
</dl>

<hr />

<p>
    @Html.ActionLink(
            "Editar",
            "Edit",
            new { id = Model.EstadoId },
            new { @class = "btn btn-primary" }
        )
    @Html.ActionLink(
            "Eliminar",
            "Delete",
            new { id = Model.EstadoId },
            new { @class = "btn btn-danger", style = "margin-left:10px;" }
        )
    @Html.ActionLink(
            "Volver al listado",
            "Index",
            new { empresaId = Model.EmpresaId },
            new { @class = "btn btn-default", style = "margin-left:10px;" }
        )
</p>
