@model SolucionEmpresas.Models.Cuentas

@{
    ViewBag.Title = "Crear Cuenta";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>@ViewBag.Title</h1>
            <hr />

            @using (Html.BeginForm("Create", "Cuentas", FormMethod.Post, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group mb-3">
                    <label>Empresa</label>
                    @Html.DropDownListFor(model => model.EmpresaId, (SelectList)ViewBag.Empresas, "-- Seleccione Empresa --", new { @class = "form-control", @required = "required" })
                </div>

                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.Numero)
                    @Html.TextBoxFor(model => model.Numero, new { @class = "form-control", @required = "required", @placeholder = "Ej: 1105" })
                    @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            }
        </div>
    </div>
</div>